@use "../../variables/derived-variables" as derived-variables;

@mixin pattern-light($size, $x-pos: top, $y-pos: center) {
  background: url('https://after-school.flexiness.com:3992/assets/svg/pattern-light-logo.svg') no-repeat;
  background-size: $size;
  background-position: $x-pos $y-pos;
}

@mixin pattern-dark($size, $x-pos: top, $y-pos: center) {
  background: url('https://after-school.flexiness.com:3992/assets/jpg/transparent-noise.png'), url('https://after-school.flexiness.com:3992/assets/svg/pattern-dark-logo.svg') no-repeat, linear-gradient(#1b3650, derived-variables.$secondary);
  background-size: auto, $size, auto;
  background-position: top left, $x-pos $y-pos, top left;
}
