.gatewayLayout {
  min-height: 100vh;
}

.navLayout {
  display: flex;
  flex-direction: row;
  background-color: var(--flex-grey-light);

  @media screen and (max-width: '760px') {
    flex-direction: column;
  }
}
