.sticky-container {
  order: 1;
  width: 100%;

  & > div {
    display: flex;
    width: 100%;

    & > div {
      display: flex;
      width: 100%;
    }
  }

  .sticky-wrapper {
    z-index: 9999;
    width: 100% !important;
    background: var(--flex-tertiary);
  }

  @media screen and (max-width: '760px') {
    order: 3;
  }

  .force-mobile & {
    order: 3;
  }
}
