/* stylelint-disable declaration-block-no-redundant-longhand-properties */

@use 'todo.vars.module';

.todo-app {
  main {
    margin: 0 auto;
    min-height: calc(100vh - 475px);
  }

  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }

  ul:not(:empty) {
    margin: 1rem 0 2.5rem;
  }

  li {
    background-color: white;
    padding: 8px;
  }

  li:hover {
    background: #dadbf9;
  }
}
