@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/animations";
@use "../utilities/functions";
/* stylelint-disable-next-line scss/load-partial-extension */
@use "../utilities/vendors/bulma-extensions/container.scss";

.container {
    &.is-fullhd {
        width: auto;
    }

    &:not(.is-fluid) {
        /**
        * FIXME : ameliorer le calcul
        */
        @include mixins.desktop {
            width: 980px;
            max-width: 980px;
        }

        @include mixins.widescreen {
            width: 1160px;
            max-width: 1160px;
        }

        @include mixins.fullhd {
            width: 1308px;
            max-width: 1308px;
        }
    }

    &.is-fluid {
        @include mixins.fullhd {
            margin: 0 auto;
            max-width: variables.$fullhd - 2 * variables.$gap;
        }
    }

    &.is-medium {
        max-width: 960px;
        margin: auto;
    }

    &.is-fullwidth {
        max-width: 100%;
        width: 100%;
    }
}

main,
header .navbar,
header,
footer {
    > .container {
        &.is-fluid {
            @include mixins.desktop {
                margin: 0 auto;
            }

            @include mixins.fullhd {
                max-width: 100%;
            }
        }
    }
}
