/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */

main > [data-flex-theme] .footer {
  display: none;
}

:root, [data-user-mode] [data-amplify-theme="flex-override-theme-gateway"] [data-amplify-authenticator] [data-amplify-form] {
  --amplify-components-authenticator-form-padding: 0 2rem 2rem;

  margin-top: -1rem;
}
