/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */

main > [data-flex-theme] .footer {
  display: none;
}

:root,
[data-user-mode] [data-amplify-theme="flex-override-theme-gateway"] [data-amplify-authenticator] [data-amplify-form][data-amplify-authenticator-signin],
[data-user-mode] [data-amplify-theme="flex-override-theme-gateway"] [data-amplify-authenticator] [data-amplify-form][data-amplify-authenticator-signup] {
  --amplify-components-authenticator-form-padding: 0 2rem 2rem;

  margin-top: -1rem;
}

#gatewayLayout .react-datepicker-wrapper {
  width: 100%;
}

#gatewayLayout .main-header-block .main-title .main-title-inset {
  margin: 10px 0 0 ;
}
