@use "../variables/derived-variables" as derived-variables;
@use "../functions";

$control-radius: derived-variables.$radius !default;
$control-radius-small: derived-variables.$radius-small !default;
$control-border-width: functions.size(0.1em) !default;
$control-padding-vertical: calc(0.375em - #{$control-border-width}) !default;
$control-padding-horizontal: functions.size(2em);

@mixin control {
    appearance: none;
    align-items: center;
    border: $control-border-width solid transparent;
    border-radius: $control-radius-small;
    display: inline-flex;
    font-size: derived-variables.$size-normal;

    // height: 1.5em;
    // height: 2.25em;
    height: functions.size(4.6em);
    justify-content: flex-start;

    // line-height: 1.5;
    line-height: 1.4;
    padding: $control-padding-vertical $control-padding-horizontal $control-padding-vertical $control-padding-horizontal;
    position: relative;
    vertical-align: top;

    // bug fix pour iOS qui zoom sur le champ si la police ne fait pas 16px
    @supports (-webkit-overflow-scrolling: touch) {
        font-size: derived-variables.$text-16;
    }

    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
        outline: none;

        // répétition nécessaire : bug fix pour iOS qui zoom sur le champ si la police ne fait pas 16px
        @supports (-webkit-overflow-scrolling: touch) {
            font-size: derived-variables.$text-16;
        }
    }

    &[disabled] {
        cursor: not-allowed;
    }
}

@mixin control-small {
    border-radius: $control-radius-small;
    font-size: derived-variables.$size-small;
}

@mixin control-medium {
    font-size: derived-variables.$size-medium;
}

@mixin control-large {
    font-size: derived-variables.$size-large;
}
