@font-face {
    font-family: 'flexi-all';
    src: 
          url('../../../../../apps/gateway/public/assets/fonts/flexi-all.woff2') format('woff2'),
          url('../../../../../apps/gateway/public/assets/fonts/flexi-all.woff') format('woff'),
          url('https://main.d3u8f9h1p0qxra.amplifyapp.com/assets/fonts/flexi-all.woff2') format('woff2'),
          url('https://main.d3u8f9h1p0qxra.amplifyapp.com/assets/fonts/flexi-all.woff') format('woff')
        ;
    font-style: normal;
    font-weight: normal;
}

.icon [class^="flexi-webfont-"]::before,
.icon [class*=" flexi-webfont-"]::before {
    font-family: flexi-all;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flexi-webfont-workshop::before {
    content: "\f101";
}

.flexi-webfont-workplace-layout::before {
    content: "\f102";
}

.flexi-webfont-window::before {
    content: "\f103";
}

.flexi-webfont-wifi::before {
    content: "\f104";
}

.flexi-webfont-wifi-medium::before {
    content: "\f105";
}

.flexi-webfont-wifi-low::before {
    content: "\f106";
}

.flexi-webfont-webcam::before {
    content: "\f107";
}

.flexi-webfont-watch::before {
    content: "\f108";
}

.flexi-webfont-waste-reduction::before {
    content: "\f109";
}

.flexi-webfont-wall::before {
    content: "\f10a";
}

.flexi-webfont-vtc-taxi-motorbike::before {
    content: "\f10b";
}

.flexi-webfont-volume-on::before {
    content: "\f10c";
}

.flexi-webfont-volume-off::before {
    content: "\f10d";
}

.flexi-webfont-voicemail::before {
    content: "\f10e";
}

.flexi-webfont-voice-assistance::before {
    content: "\f10f";
}

.flexi-webfont-visually-impaired::before {
    content: "\f110";
}

.flexi-webfont-visor::before {
    content: "\f111";
}

.flexi-webfont-victory::before {
    content: "\f112";
}

.flexi-webfont-v-sign::before {
    content: "\f113";
}

.flexi-webfont-users::before {
    content: "\f114";
}

.flexi-webfont-users-shield-star-s::before {
    content: "\f115";
}

.flexi-webfont-users-shield-s::before {
    content: "\f116";
}

.flexi-webfont-user::before {
    content: "\f117";
}

.flexi-webfont-user-tie::before {
    content: "\f118";
}

.flexi-webfont-user-headset::before {
    content: "\f119";
}

.flexi-webfont-usbkey::before {
    content: "\f11a";
}

.flexi-webfont-unlimited::before {
    content: "\f11b";
}

.flexi-webfont-unavailable::before {
    content: "\f11c";
}

.flexi-webfont-tv::before {
    content: "\f11d";
}

.flexi-webfont-tv-vod::before {
    content: "\f11e";
}

.flexi-webfont-tv-multi::before {
    content: "\f11f";
}

.flexi-webfont-tv-multi-optical-fiber::before {
    content: "\f120";
}

.flexi-webfont-tv-infinity::before {
    content: "\f121";
}

.flexi-webfont-tv-hd::before {
    content: "\f122";
}

.flexi-webfont-tv-curved::before {
    content: "\f123";
}

.flexi-webfont-tv-btv::before {
    content: "\f124";
}

.flexi-webfont-tv-8k::before {
    content: "\f125";
}

.flexi-webfont-tv-4k::before {
    content: "\f126";
}

.flexi-webfont-turkey::before {
    content: "\f127";
}

.flexi-webfont-truck::before {
    content: "\f128";
}

.flexi-webfont-truck-speed::before {
    content: "\f129";
}

.flexi-webfont-travel-policies::before {
    content: "\f12a";
}

.flexi-webfont-travel-agency::before {
    content: "\f12b";
}

.flexi-webfont-trash::before {
    content: "\f12c";
}

.flexi-webfont-transport::before {
    content: "\f12d";
}

.flexi-webfont-training-diploma::before {
    content: "\f12e";
}

.flexi-webfont-top-news::before {
    content: "\f12f";
}

.flexi-webfont-tools::before {
    content: "\f130";
}

.flexi-webfont-times::before {
    content: "\f131";
}

.flexi-webfont-times-circle::before {
    content: "\f132";
}

.flexi-webfont-thunder-redo::before {
    content: "\f133";
}

.flexi-webfont-th::before {
    content: "\f134";
}

.flexi-webfont-team-meal::before {
    content: "\f135";
}

.flexi-webfont-tablet::before {
    content: "\f136";
}

.flexi-webfont-sync::before {
    content: "\f137";
}

.flexi-webfont-sustainable-development::before {
    content: "\f138";
}

.flexi-webfont-sun-euro::before {
    content: "\f139";
}

.flexi-webfont-store::before {
    content: "\f13a";
}

.flexi-webfont-store-locator::before {
    content: "\f13b";
}

.flexi-webfont-stopwatch::before {
    content: "\f13c";
}

.flexi-webfont-stopwatch-click-collect::before {
    content: "\f13d";
}

.flexi-webfont-stopwatch-click-collect-2h::before {
    content: "\f13e";
}

.flexi-webfont-stopwatch-2h::before {
    content: "\f13f";
}

.flexi-webfont-steering-wheel::before {
    content: "\f140";
}

.flexi-webfont-sports::before {
    content: "\f141";
}

.flexi-webfont-social-youtube::before {
    content: "\f142";
}

.flexi-webfont-social-twitter::before {
    content: "\f143";
}

.flexi-webfont-social-instagram::before {
    content: "\f144";
}

.flexi-webfont-social-facebook::before {
    content: "\f145";
}

.flexi-webfont-sms-info::before {
    content: "\f146";
}

.flexi-webfont-smile::before {
    content: "\f147";
}

.flexi-webfont-smile-plus::before {
    content: "\f148";
}

.flexi-webfont-smile-nocircled::before {
    content: "\f149";
}

.flexi-webfont-sim-cards::before {
    content: "\f14a";
}

.flexi-webfont-sim-card::before {
    content: "\f14b";
}

.flexi-webfont-sim-card-unlock::before {
    content: "\f14c";
}

.flexi-webfont-sim-card-redo::before {
    content: "\f14d";
}

.flexi-webfont-shopping-bag::before {
    content: "\f14e";
}

.flexi-webfont-shooting-star::before {
    content: "\f14f";
}

.flexi-webfont-shield::before {
    content: "\f150";
}

.flexi-webfont-shield-private-life::before {
    content: "\f151";
}

.flexi-webfont-shield-exclamation::before {
    content: "\f152";
}

.flexi-webfont-shield-check::before {
    content: "\f153";
}

.flexi-webfont-shield-at::before {
    content: "\f154";
}

.flexi-webfont-security-health::before {
    content: "\f155";
}

.flexi-webfont-search::before {
    content: "\f156";
}

.flexi-webfont-sd-Card::before {
    content: "\f157";
}

.flexi-webfont-scan::before {
    content: "\f158";
}

.flexi-webfont-satellite-antenna::before {
    content: "\f159";
}

.flexi-webfont-samples::before {
    content: "\f15a";
}

.flexi-webfont-samples-plus-circle::before {
    content: "\f15b";
}

.flexi-webfont-samples-exclamation-mark-circle::before {
    content: "\f15c";
}

.flexi-webfont-samples-cogs-circle::before {
    content: "\f15d";
}

.flexi-webfont-rules::before {
    content: "\f15e";
}

.flexi-webfont-rotation-360::before {
    content: "\f15f";
}

.flexi-webfont-ringtone-welcomeSound::before {
    content: "\f160";
}

.flexi-webfont-restricted-area::before {
    content: "\f161";
}

.flexi-webfont-repeater::before {
    content: "\f162";
}

.flexi-webfont-repeater-alt::before {
    content: "\f163";
}

.flexi-webfont-remote::before {
    content: "\f164";
}

.flexi-webfont-reduce-co2-emission::before {
    content: "\f165";
}

.flexi-webfont-redo::before {
    content: "\f166";
}

.flexi-webfont-redo-7-days::before {
    content: "\f167";
}

.flexi-webfont-redo-30-days::before {
    content: "\f168";
}

.flexi-webfont-redo-14-days::before {
    content: "\f169";
}

.flexi-webfont-recycle::before {
    content: "\f16a";
}

.flexi-webfont-priority-path::before {
    content: "\f16b";
}

.flexi-webfont-printing-stationery::before {
    content: "\f16c";
}

.flexi-webfont-printer::before {
    content: "\f16d";
}

.flexi-webfont-plus::before {
    content: "\f16e";
}

.flexi-webfont-plus-circle::before {
    content: "\f16f";
}

.flexi-webfont-plug-check::before {
    content: "\f170";
}

.flexi-webfont-plexi-exchange::before {
    content: "\f171";
}

.flexi-webfont-play-circle::before {
    content: "\f172";
}

.flexi-webfont-play-beginning::before {
    content: "\f173";
}

.flexi-webfont-physical-disability::before {
    content: "\f174";
}

.flexi-webfont-phone::before {
    content: "\f175";
}

.flexi-webfont-phone-switzerland::before {
    content: "\f176";
}

.flexi-webfont-phone-plus-sim-card::before {
    content: "\f177";
}

.flexi-webfont-phone-outgoing-call::before {
    content: "\f178";
}

.flexi-webfont-phone-notes::before {
    content: "\f179";
}

.flexi-webfont-phone-infinity::before {
    content: "\f17a";
}

.flexi-webfont-phone-incoming-call::before {
    content: "\f17b";
}

.flexi-webfont-phone-globe::before {
    content: "\f17c";
}

.flexi-webfont-phone-europe::before {
    content: "\f17d";
}

.flexi-webfont-phone-euro::before {
    content: "\f17e";
}

.flexi-webfont-phone-burger::before {
    content: "\f17f";
}

.flexi-webfont-phone-africa::before {
    content: "\f180";
}

.flexi-webfont-person-door::before {
    content: "\f181";
}

.flexi-webfont-payment-americanexpress::before {
    content: "\f182";
}

.flexi-webfont-pause::before {
    content: "\f183";
}

.flexi-webfont-parcel::before {
    content: "\f184";
}

.flexi-webfont-paperclip::before {
    content: "\f185";
}

.flexi-webfont-package-preparation::before {
    content: "\f186";
}

.flexi-webfont-optician::before {
    content: "\f187";
}

.flexi-webfont-office-supply::before {
    content: "\f188";
}

.flexi-webfont-notes::before {
    content: "\f189";
}

.flexi-webfont-notebook-tarifs::before {
    content: "\f18a";
}

.flexi-webfont-newspapers::before {
    content: "\f18b";
}

.flexi-webfont-network::before {
    content: "\f18c";
}

.flexi-webfont-network-antenna::before {
    content: "\f18d";
}

.flexi-webfont-moving-persons-goods::before {
    content: "\f18e";
}

.flexi-webfont-mouse::before {
    content: "\f18f";
}

.flexi-webfont-motivation::before {
    content: "\f190";
}

.flexi-webfont-modem-3g::before {
    content: "\f191";
}

.flexi-webfont-mobile::before {
    content: "\f192";
}

.flexi-webfont-mobile-up-down::before {
    content: "\f193";
}

.flexi-webfont-mobile-tools::before {
    content: "\f194";
}

.flexi-webfont-mobile-sync::before {
    content: "\f195";
}

.flexi-webfont-mobile-recovery::before {
    content: "\f196";
}

.flexi-webfont-mobile-reconditioned::before {
    content: "\f197";
}

.flexi-webfont-mobile-plus-sim-cards::before {
    content: "\f198";
}

.flexi-webfont-mobile-percentage::before {
    content: "\f199";
}

.flexi-webfont-mobile-lock::before {
    content: "\f19a";
}

.flexi-webfont-mobile-infinity::before {
    content: "\f19b";
}

.flexi-webfont-mobile-hand::before {
    content: "\f19c";
}

.flexi-webfont-mobile-globe::before {
    content: "\f19d";
}

.flexi-webfont-mobile-eye::before {
    content: "\f19e";
}

.flexi-webfont-mobile-euro::before {
    content: "\f19f";
}

.flexi-webfont-mobile-comment::before {
    content: "\f1a0";
}

.flexi-webfont-mobile-cloud::before {
    content: "\f1a1";
}

.flexi-webfont-mobile-broken::before {
    content: "\f1a2";
}

.flexi-webfont-mobile-ban::before {
    content: "\f1a3";
}

.flexi-webfont-mobile-08-slash::before {
    content: "\f1a4";
}

.flexi-webfont-mobile-07-slash::before {
    content: "\f1a5";
}

.flexi-webfont-mobile-06-slash::before {
    content: "\f1a6";
}

.flexi-webfont-microwaves::before {
    content: "\f1a7";
}

.flexi-webfont-mental-handicap::before {
    content: "\f1a8";
}

.flexi-webfont-mental-disability::before {
    content: "\f1a9";
}

.flexi-webfont-massage::before {
    content: "\f1aa";
}

.flexi-webfont-marker::before {
    content: "\f1ab";
}

.flexi-webfont-map-marker::before {
    content: "\f1ac";
}

.flexi-webfont-maker::before {
    content: "\f1ad";
}

.flexi-webfont-mailbox-marker::before {
    content: "\f1ae";
}

.flexi-webfont-mail::before {
    content: "\f1af";
}

.flexi-webfont-lock::before {
    content: "\f1b0";
}

.flexi-webfont-link::before {
    content: "\f1b1";
}

.flexi-webfont-link-copy::before {
    content: "\f1b2";
}

.flexi-webfont-lines-speed::before {
    content: "\f1b3";
}

.flexi-webfont-lightbulb-on::before {
    content: "\f1b4";
}

.flexi-webfont-laptop::before {
    content: "\f1b5";
}

.flexi-webfont-laptop-tablet-mobile::before {
    content: "\f1b6";
}

.flexi-webfont-ip::before {
    content: "\f1b7";
}

.flexi-webfont-iot::before {
    content: "\f1b8";
}

.flexi-webfont-internal-fraud::before {
    content: "\f1b9";
}

.flexi-webfont-immersive-content-people::before {
    content: "\f1ba";
}

.flexi-webfont-immersive-content-glass::before {
    content: "\f1bb";
}

.flexi-webfont-identity::before {
    content: "\f1bc";
}

.flexi-webfont-hydro-gel::before {
    content: "\f1bd";
}

.flexi-webfont-hourglass::before {
    content: "\f1be";
}

.flexi-webfont-hotspot::before {
    content: "\f1bf";
}

.flexi-webfont-home::before {
    content: "\f1c0";
}

.flexi-webfont-home-tools::before {
    content: "\f1c1";
}

.flexi-webfont-heart::before {
    content: "\f1c2";
}

.flexi-webfont-headphones::before {
    content: "\f1c3";
}

.flexi-webfont-handsfree::before {
    content: "\f1c4";
}

.flexi-webfont-hands-helping::before {
    content: "\f1c5";
}

.flexi-webfont-hand-tools::before {
    content: "\f1c6";
}

.flexi-webfont-hand-mobile::before {
    content: "\f1c7";
}

.flexi-webfont-hairdresser::before {
    content: "\f1c8";
}

.flexi-webfont-good-practices::before {
    content: "\f1c9";
}

.flexi-webfont-gift::before {
    content: "\f1ca";
}

.flexi-webfont-gauge::before {
    content: "\f1cb";
}

.flexi-webfont-gauge-plus-circle::before {
    content: "\f1cc";
}

.flexi-webfont-gauge-exclamation-circle::before {
    content: "\f1cd";
}

.flexi-webfont-gauge-cogs-circle::before {
    content: "\f1ce";
}

.flexi-webfont-games-console::before {
    content: "\f1cf";
}

.flexi-webfont-gamepad::before {
    content: "\f1d0";
}

.flexi-webfont-frown::before {
    content: "\f1d1";
}

.flexi-webfont-france::before {
    content: "\f1d2";
}

.flexi-webfont-france-marker::before {
    content: "\f1d3";
}

.flexi-webfont-flower-order::before {
    content: "\f1d4";
}

.flexi-webfont-flash-sell::before {
    content: "\f1d5";
}

.flexi-webfont-first-rural-area::before {
    content: "\f1d6";
}

.flexi-webfont-fingerprint::before {
    content: "\f1d7";
}

.flexi-webfont-film::before {
    content: "\f1d8";
}

.flexi-webfont-file-pdf::before {
    content: "\f1d9";
}

.flexi-webfont-file-new::before {
    content: "\f1da";
}

.flexi-webfont-file-management::before {
    content: "\f1db";
}

.flexi-webfont-file-list::before {
    content: "\f1dc";
}

.flexi-webfont-file-euro::before {
    content: "\f1dd";
}

.flexi-webfont-file-euro-question-circle::before {
    content: "\f1de";
}

.flexi-webfont-file-euro-lock-circle::before {
    content: "\f1df";
}

.flexi-webfont-file-euro-info-circle::before {
    content: "\f1e0";
}

.flexi-webfont-file-euro-exclamation-circle::before {
    content: "\f1e1";
}

.flexi-webfont-file-euro-check-circle::before {
    content: "\f1e2";
}

.flexi-webfont-file-euro-check-circle-s::before {
    content: "\f1e3";
}

.flexi-webfont-file-attached::before {
    content: "\f1e4";
}

.flexi-webfont-facemask-2::before {
    content: "\f1e5";
}

.flexi-webfont-facemask-1::before {
    content: "\f1e6";
}

.flexi-webfont-exclamation::before {
    content: "\f1e7";
}

.flexi-webfont-exclamation-triangle::before {
    content: "\f1e8";
}

.flexi-webfont-exclamation-redo::before {
    content: "\f1e9";
}

.flexi-webfont-exclamation-circle::before {
    content: "\f1ea";
}

.flexi-webfont-euros::before {
    content: "\f1eb";
}

.flexi-webfont-europe::before {
    content: "\f1ec";
}

.flexi-webfont-ethics::before {
    content: "\f1ed";
}

.flexi-webfont-esim::before {
    content: "\f1ee";
}

.flexi-webfont-environmental-footprint::before {
    content: "\f1ef";
}

.flexi-webfont-envelope::before {
    content: "\f1f0";
}

.flexi-webfont-envelope-plus-circle::before {
    content: "\f1f1";
}

.flexi-webfont-energy::before {
    content: "\f1f2";
}

.flexi-webfont-energy-optimization::before {
    content: "\f1f3";
}

.flexi-webfont-electrical-plug::before {
    content: "\f1f4";
}

.flexi-webfont-electrical-overload::before {
    content: "\f1f5";
}

.flexi-webfont-electric-car::before {
    content: "\f1f6";
}

.flexi-webfont-ecoresponsible-digital::before {
    content: "\f1f7";
}

.flexi-webfont-ecommerce-promo-label::before {
    content: "\f1f8";
}

.flexi-webfont-ecommerce-product-return::before {
    content: "\f1f9";
}

.flexi-webfont-eco-conception::before {
    content: "\f1fa";
}

.flexi-webfont-earth::before {
    content: "\f1fb";
}

.flexi-webfont-ear-slash::before {
    content: "\f1fc";
}

.flexi-webfont-duplicata::before {
    content: "\f1fd";
}

.flexi-webfont-dont-touch::before {
    content: "\f1fe";
}

.flexi-webfont-distance::before {
    content: "\f1ff";
}

.flexi-webfont-diagnostic::before {
    content: "\f200";
}

.flexi-webfont-desktop::before {
    content: "\f201";
}

.flexi-webfont-cse::before {
    content: "\f202";
}

.flexi-webfont-crippling-disease::before {
    content: "\f203";
}

.flexi-webfont-credit-cards::before {
    content: "\f204";
}

.flexi-webfont-credit-cards-12::before {
    content: "\f205";
}

.flexi-webfont-credit-card::before {
    content: "\f206";
}

.flexi-webfont-credit-card-lock::before {
    content: "\f207";
}

.flexi-webfont-credit-card-accepted::before {
    content: "\f208";
}

.flexi-webfont-courier::before {
    content: "\f209";
}

.flexi-webfont-corporate-card::before {
    content: "\f20a";
}

.flexi-webfont-contactless-payment::before {
    content: "\f20b";
}

.flexi-webfont-contact::before {
    content: "\f20c";
}

.flexi-webfont-concierge::before {
    content: "\f20d";
}

.flexi-webfont-community::before {
    content: "\f20e";
}

.flexi-webfont-comments-question-dots::before {
    content: "\f20f";
}

.flexi-webfont-comment::before {
    content: "\f210";
}

.flexi-webfont-comment-voicemail::before {
    content: "\f211";
}

.flexi-webfont-comment-question::before {
    content: "\f212";
}

.flexi-webfont-comment-eye::before {
    content: "\f213";
}

.flexi-webfont-comment-exclamation-circle::before {
    content: "\f214";
}

.flexi-webfont-comment-earth::before {
    content: "\f215";
}

.flexi-webfont-collaborative-library::before {
    content: "\f216";
}

.flexi-webfont-cogs::before {
    content: "\f217";
}

.flexi-webfont-co2-emission::before {
    content: "\f218";
}

.flexi-webfont-cloud::before {
    content: "\f219";
}

.flexi-webfont-cloud-save::before {
    content: "\f21a";
}

.flexi-webfont-cloud-plus-circle::before {
    content: "\f21b";
}

.flexi-webfont-cloud-infinity::before {
    content: "\f21c";
}

.flexi-webfont-cloud-globe::before {
    content: "\f21d";
}

.flexi-webfont-cloud-exclamation-circle::before {
    content: "\f21e";
}

.flexi-webfont-cloud-cogs-circle::before {
    content: "\f21f";
}

.flexi-webfont-cloud-check::before {
    content: "\f220";
}

.flexi-webfont-cloud-check-s::before {
    content: "\f221";
}

.flexi-webfont-cloud-70go::before {
    content: "\f222";
}

.flexi-webfont-cloud-50go::before {
    content: "\f223";
}

.flexi-webfont-cloud-30go::before {
    content: "\f224";
}

.flexi-webfont-cloud-20go::before {
    content: "\f225";
}

.flexi-webfont-cloud-100go::before {
    content: "\f226";
}

.flexi-webfont-closed::before {
    content: "\f227";
}

.flexi-webfont-clipboard-checklist::before {
    content: "\f228";
}

.flexi-webfont-click-collect-2h::before {
    content: "\f229";
}

.flexi-webfont-clean-surface::before {
    content: "\f22a";
}

.flexi-webfont-clapperboard::before {
    content: "\f22b";
}

.flexi-webfont-chip::before {
    content: "\f22c";
}

.flexi-webfont-children-access::before {
    content: "\f22d";
}

.flexi-webfont-check::before {
    content: "\f22e";
}

.flexi-webfont-check-circle::before {
    content: "\f22f";
}

.flexi-webfont-catering::before {
    content: "\f230";
}

.flexi-webfont-carpooling::before {
    content: "\f231";
}

.flexi-webfont-car-rent::before {
    content: "\f232";
}

.flexi-webfont-car-park::before {
    content: "\f233";
}

.flexi-webfont-camera::before {
    content: "\f234";
}

.flexi-webfont-calendar::before {
    content: "\f235";
}

.flexi-webfont-calendar-unavailable::before {
    content: "\f236";
}

.flexi-webfont-calendar-question-circle::before {
    content: "\f237";
}

.flexi-webfont-calendar-plus-circle::before {
    content: "\f238";
}

.flexi-webfont-calendar-info-circle::before {
    content: "\f239";
}

.flexi-webfont-calendar-exclamation-circle::before {
    content: "\f23a";
}

.flexi-webfont-calendar-cogs-circle::before {
    content: "\f23b";
}

.flexi-webfont-calendar-clock-circle::before {
    content: "\f23c";
}

.flexi-webfont-business-trip::before {
    content: "\f23d";
}

.flexi-webfont-btvplus::before {
    content: "\f23e";
}

.flexi-webfont-btv::before {
    content: "\f23f";
}

.flexi-webfont-btv-illimite::before {
    content: "\f240";
}

.flexi-webfont-box::before {
    content: "\f241";
}

.flexi-webfont-box-unavailable::before {
    content: "\f242";
}

.flexi-webfont-box-stethoscope::before {
    content: "\f243";
}

.flexi-webfont-box-smartTV::before {
    content: "\f244";
}

.flexi-webfont-box-redo::before {
    content: "\f245";
}

.flexi-webfont-box-mobile::before {
    content: "\f246";
}

.flexi-webfont-box-info-cogs::before {
    content: "\f247";
}

.flexi-webfont-box-info-circle::before {
    content: "\f248";
}

.flexi-webfont-box-exclamation-circle::before {
    content: "\f249";
}

.flexi-webfont-box-eole::before {
    content: "\f24a";
}

.flexi-webfont-box-check-circle::before {
    content: "\f24b";
}

.flexi-webfont-box-check-circle-s::before {
    content: "\f24c";
}

.flexi-webfont-box-add::before {
    content: "\f24d";
}

.flexi-webfont-box-FAQ::before {
    content: "\f24e";
}

.flexi-webfont-box-4g::before {
    content: "\f24f";
}

.flexi-webfont-bluetooth::before {
    content: "\f250";
}

.flexi-webfont-bell-ringing::before {
    content: "\f251";
}

.flexi-webfont-beautician::before {
    content: "\f252";
}

.flexi-webfont-bduo::before {
    content: "\f253";
}

.flexi-webfont-battery::before {
    content: "\f254";
}

.flexi-webfont-barcode-search::before {
    content: "\f255";
}

.flexi-webfont-ball::before {
    content: "\f256";
}

.flexi-webfont-badges::before {
    content: "\f257";
}

.flexi-webfont-babyphone::before {
    content: "\f258";
}

.flexi-webfont-audio-visual::before {
    content: "\f259";
}

.flexi-webfont-at::before {
    content: "\f25a";
}

.flexi-webfont-at-unavailable::before {
    content: "\f25b";
}

.flexi-webfont-at-plus-circle::before {
    content: "\f25c";
}

.flexi-webfont-at-info::before {
    content: "\f25d";
}

.flexi-webfont-at-infinity-circle::before {
    content: "\f25e";
}

.flexi-webfont-at-globe::before {
    content: "\f25f";
}

.flexi-webfont-at-exclamation-circle::before {
    content: "\f260";
}

.flexi-webfont-at-cogs-circle::before {
    content: "\f261";
}

.flexi-webfont-at-check-s::before {
    content: "\f262";
}

.flexi-webfont-artist-chair::before {
    content: "\f263";
}

.flexi-webfont-artificial-intelligence::before {
    content: "\f264";
}

.flexi-webfont-archiving::before {
    content: "\f265";
}

.flexi-webfont-air-travel::before {
    content: "\f266";
}

.flexi-webfont-africa::before {
    content: "\f267";
}

.flexi-webfont-advisor::before {
    content: "\f268";
}

.flexi-webfont-addcalendar-rdv::before {
    content: "\f269";
}

.flexi-webfont-accomodation::before {
    content: "\f26a";
}

.flexi-webfont-accessibility::before {
    content: "\f26b";
}

.flexi-webfont-Flexymoov-bicycle::before {
    content: "\f26c";
}

.flexi-webfont-Bank::before {
    content: "\f26d";
}

.flexi-webfont-Autoplan::before {
    content: "\f26e";
}

.flexi-webfont-5g::before {
    content: "\f26f";
}

.flexi-webfont-4g::before {
    content: "\f270";
}

.flexi-webfont-4g-plus::before {
    content: "\f271";
}

.flexi-webfont-4g-5g::before {
    content: "\f272";
}

.flexi-webfont-4g-5g-plus::before {
    content: "\f273";
}

.flexi-webfont-4G4Gplus::before {
    content: "\f274";
}

