@font-face {
    font-family: 'flexi-illustrations';
    src: url('/assets/fonts/flexi-illustrations.woff2') format('woff2'), url('/assets/fonts/flexi-illustrations.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

.icon [class^="flexi-webfont-illustrations-"]::before,
.icon [class*=" flexi-webfont-illustrations-"]::before {
    font-family: 'flexi-illustrations';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flexi-webfont-illustrations-workshop::before {
    content: "\f101";
}

.flexi-webfont-illustrations-workplace-layout::before {
    content: "\f102";
}

.flexi-webfont-illustrations-window::before {
    content: "\f103";
}

.flexi-webfont-illustrations-wifi::before {
    content: "\f104";
}

.flexi-webfont-illustrations-wifi-medium::before {
    content: "\f105";
}

.flexi-webfont-illustrations-wifi-low::before {
    content: "\f106";
}

.flexi-webfont-illustrations-webcam::before {
    content: "\f107";
}

.flexi-webfont-illustrations-watch::before {
    content: "\f108";
}

.flexi-webfont-illustrations-waste-reduction::before {
    content: "\f109";
}

.flexi-webfont-illustrations-wall::before {
    content: "\f10a";
}

.flexi-webfont-illustrations-vtc-taxi-motorbike::before {
    content: "\f10b";
}

.flexi-webfont-illustrations-volume-on::before {
    content: "\f10c";
}

.flexi-webfont-illustrations-volume-off::before {
    content: "\f10d";
}

.flexi-webfont-illustrations-voicemail::before {
    content: "\f10e";
}

.flexi-webfont-illustrations-voice-assistance::before {
    content: "\f10f";
}

.flexi-webfont-illustrations-visually-impaired::before {
    content: "\f110";
}

.flexi-webfont-illustrations-visor::before {
    content: "\f111";
}

.flexi-webfont-illustrations-victory::before {
    content: "\f112";
}

.flexi-webfont-illustrations-v-sign::before {
    content: "\f113";
}

.flexi-webfont-illustrations-users::before {
    content: "\f114";
}

.flexi-webfont-illustrations-users-shield-star-s::before {
    content: "\f115";
}

.flexi-webfont-illustrations-users-shield-s::before {
    content: "\f116";
}

.flexi-webfont-illustrations-user::before {
    content: "\f117";
}

.flexi-webfont-illustrations-user-tie::before {
    content: "\f118";
}

.flexi-webfont-illustrations-user-headset::before {
    content: "\f119";
}

.flexi-webfont-illustrations-usbkey::before {
    content: "\f11a";
}

.flexi-webfont-illustrations-unlimited::before {
    content: "\f11b";
}

.flexi-webfont-illustrations-unavailable::before {
    content: "\f11c";
}

.flexi-webfont-illustrations-tv::before {
    content: "\f11d";
}

.flexi-webfont-illustrations-tv-vod::before {
    content: "\f11e";
}

.flexi-webfont-illustrations-tv-multi::before {
    content: "\f11f";
}

.flexi-webfont-illustrations-tv-multi-optical-fiber::before {
    content: "\f120";
}

.flexi-webfont-illustrations-tv-infinity::before {
    content: "\f121";
}

.flexi-webfont-illustrations-tv-hd::before {
    content: "\f122";
}

.flexi-webfont-illustrations-tv-curved::before {
    content: "\f123";
}

.flexi-webfont-illustrations-tv-btv::before {
    content: "\f124";
}

.flexi-webfont-illustrations-tv-8k::before {
    content: "\f125";
}

.flexi-webfont-illustrations-tv-4k::before {
    content: "\f126";
}

.flexi-webfont-illustrations-turkey::before {
    content: "\f127";
}

.flexi-webfont-illustrations-truck::before {
    content: "\f128";
}

.flexi-webfont-illustrations-truck-speed::before {
    content: "\f129";
}

.flexi-webfont-illustrations-travel-policies::before {
    content: "\f12a";
}

.flexi-webfont-illustrations-travel-agency::before {
    content: "\f12b";
}

.flexi-webfont-illustrations-trash::before {
    content: "\f12c";
}

.flexi-webfont-illustrations-transport::before {
    content: "\f12d";
}

.flexi-webfont-illustrations-training-diploma::before {
    content: "\f12e";
}

.flexi-webfont-illustrations-top-news::before {
    content: "\f12f";
}

.flexi-webfont-illustrations-tools::before {
    content: "\f130";
}

.flexi-webfont-illustrations-times::before {
    content: "\f131";
}

.flexi-webfont-illustrations-times-circle::before {
    content: "\f132";
}

.flexi-webfont-illustrations-thunder-redo::before {
    content: "\f133";
}

.flexi-webfont-illustrations-th::before {
    content: "\f134";
}

.flexi-webfont-illustrations-team-meal::before {
    content: "\f135";
}

.flexi-webfont-illustrations-tablet::before {
    content: "\f136";
}

.flexi-webfont-illustrations-sync::before {
    content: "\f137";
}

.flexi-webfont-illustrations-sustainable-development::before {
    content: "\f138";
}

.flexi-webfont-illustrations-sun-euro::before {
    content: "\f139";
}

.flexi-webfont-illustrations-store::before {
    content: "\f13a";
}

.flexi-webfont-illustrations-store-locator::before {
    content: "\f13b";
}

.flexi-webfont-illustrations-stopwatch::before {
    content: "\f13c";
}

.flexi-webfont-illustrations-stopwatch-click-collect::before {
    content: "\f13d";
}

.flexi-webfont-illustrations-stopwatch-click-collect-2h::before {
    content: "\f13e";
}

.flexi-webfont-illustrations-stopwatch-2h::before {
    content: "\f13f";
}

.flexi-webfont-illustrations-steering-wheel::before {
    content: "\f140";
}

.flexi-webfont-illustrations-sports::before {
    content: "\f141";
}

.flexi-webfont-illustrations-social-youtube::before {
    content: "\f142";
}

.flexi-webfont-illustrations-social-twitter::before {
    content: "\f143";
}

.flexi-webfont-illustrations-social-instagram::before {
    content: "\f144";
}

.flexi-webfont-illustrations-social-facebook::before {
    content: "\f145";
}

.flexi-webfont-illustrations-sms-info::before {
    content: "\f146";
}

.flexi-webfont-illustrations-smile::before {
    content: "\f147";
}

.flexi-webfont-illustrations-smile-plus::before {
    content: "\f148";
}

.flexi-webfont-illustrations-smile-nocircled::before {
    content: "\f149";
}

.flexi-webfont-illustrations-sim-cards::before {
    content: "\f14a";
}

.flexi-webfont-illustrations-sim-card::before {
    content: "\f14b";
}

.flexi-webfont-illustrations-sim-card-unlock::before {
    content: "\f14c";
}

.flexi-webfont-illustrations-sim-card-redo::before {
    content: "\f14d";
}

.flexi-webfont-illustrations-shopping-bag::before {
    content: "\f14e";
}

.flexi-webfont-illustrations-shooting-star::before {
    content: "\f14f";
}

.flexi-webfont-illustrations-shield::before {
    content: "\f150";
}

.flexi-webfont-illustrations-shield-private-life::before {
    content: "\f151";
}

.flexi-webfont-illustrations-shield-exclamation::before {
    content: "\f152";
}

.flexi-webfont-illustrations-shield-check::before {
    content: "\f153";
}

.flexi-webfont-illustrations-shield-at::before {
    content: "\f154";
}

.flexi-webfont-illustrations-security-health::before {
    content: "\f155";
}

.flexi-webfont-illustrations-search::before {
    content: "\f156";
}

.flexi-webfont-illustrations-sd-card::before {
    content: "\f157";
}

.flexi-webfont-illustrations-scan::before {
    content: "\f158";
}

.flexi-webfont-illustrations-satellite-antenna::before {
    content: "\f159";
}

.flexi-webfont-illustrations-samples::before {
    content: "\f15a";
}

.flexi-webfont-illustrations-samples-plus-circle::before {
    content: "\f15b";
}

.flexi-webfont-illustrations-samples-exclamation-mark-circle::before {
    content: "\f15c";
}

.flexi-webfont-illustrations-samples-cogs-circle::before {
    content: "\f15d";
}

.flexi-webfont-illustrations-rules::before {
    content: "\f15e";
}

.flexi-webfont-illustrations-rotation-360::before {
    content: "\f15f";
}

.flexi-webfont-illustrations-ringtone-welcome-sound::before {
    content: "\f160";
}

.flexi-webfont-illustrations-restricted-area::before {
    content: "\f161";
}

.flexi-webfont-illustrations-repeater::before {
    content: "\f162";
}

.flexi-webfont-illustrations-repeater-alt::before {
    content: "\f163";
}

.flexi-webfont-illustrations-remote::before {
    content: "\f164";
}

.flexi-webfont-illustrations-reduce-co2-emission::before {
    content: "\f165";
}

.flexi-webfont-illustrations-redo::before {
    content: "\f166";
}

.flexi-webfont-illustrations-redo-7-days::before {
    content: "\f167";
}

.flexi-webfont-illustrations-redo-30-days::before {
    content: "\f168";
}

.flexi-webfont-illustrations-redo-14-days::before {
    content: "\f169";
}

.flexi-webfont-illustrations-recycle::before {
    content: "\f16a";
}

.flexi-webfont-illustrations-priority-path::before {
    content: "\f16b";
}

.flexi-webfont-illustrations-printing-stationery::before {
    content: "\f16c";
}

.flexi-webfont-illustrations-printer::before {
    content: "\f16d";
}

.flexi-webfont-illustrations-plus::before {
    content: "\f16e";
}

.flexi-webfont-illustrations-plus-circle::before {
    content: "\f16f";
}

.flexi-webfont-illustrations-plug-check::before {
    content: "\f170";
}

.flexi-webfont-illustrations-plexi-exchange::before {
    content: "\f171";
}

.flexi-webfont-illustrations-play-circle::before {
    content: "\f172";
}

.flexi-webfont-illustrations-play-beginning::before {
    content: "\f173";
}

.flexi-webfont-illustrations-physical-disability::before {
    content: "\f174";
}

.flexi-webfont-illustrations-phone::before {
    content: "\f175";
}

.flexi-webfont-illustrations-phone-switzerland::before {
    content: "\f176";
}

.flexi-webfont-illustrations-phone-plus-sim-card::before {
    content: "\f177";
}

.flexi-webfont-illustrations-phone-outgoing-call::before {
    content: "\f178";
}

.flexi-webfont-illustrations-phone-notes::before {
    content: "\f179";
}

.flexi-webfont-illustrations-phone-infinity::before {
    content: "\f17a";
}

.flexi-webfont-illustrations-phone-incoming-call::before {
    content: "\f17b";
}

.flexi-webfont-illustrations-phone-globe::before {
    content: "\f17c";
}

.flexi-webfont-illustrations-phone-europe::before {
    content: "\f17d";
}

.flexi-webfont-illustrations-phone-euro::before {
    content: "\f17e";
}

.flexi-webfont-illustrations-phone-burger::before {
    content: "\f17f";
}

.flexi-webfont-illustrations-phone-africa::before {
    content: "\f180";
}

.flexi-webfont-illustrations-person-door::before {
    content: "\f181";
}

.flexi-webfont-illustrations-payment-americanexpress::before {
    content: "\f182";
}

.flexi-webfont-illustrations-pause::before {
    content: "\f183";
}

.flexi-webfont-illustrations-parcel::before {
    content: "\f184";
}

.flexi-webfont-illustrations-paperclip::before {
    content: "\f185";
}

.flexi-webfont-illustrations-package-preparation::before {
    content: "\f186";
}

.flexi-webfont-illustrations-optician::before {
    content: "\f187";
}

.flexi-webfont-illustrations-office-supply::before {
    content: "\f188";
}

.flexi-webfont-illustrations-notes::before {
    content: "\f189";
}

.flexi-webfont-illustrations-notebook-tarifs::before {
    content: "\f18a";
}

.flexi-webfont-illustrations-newspapers::before {
    content: "\f18b";
}

.flexi-webfont-illustrations-network::before {
    content: "\f18c";
}

.flexi-webfont-illustrations-network-antenna::before {
    content: "\f18d";
}

.flexi-webfont-illustrations-moving-persons-goods::before {
    content: "\f18e";
}

.flexi-webfont-illustrations-mouse::before {
    content: "\f18f";
}

.flexi-webfont-illustrations-motivation::before {
    content: "\f190";
}

.flexi-webfont-illustrations-modem-3g::before {
    content: "\f191";
}

.flexi-webfont-illustrations-mobile::before {
    content: "\f192";
}

.flexi-webfont-illustrations-mobile-up-down::before {
    content: "\f193";
}

.flexi-webfont-illustrations-mobile-tools::before {
    content: "\f194";
}

.flexi-webfont-illustrations-mobile-sync::before {
    content: "\f195";
}

.flexi-webfont-illustrations-mobile-recovery::before {
    content: "\f196";
}

.flexi-webfont-illustrations-mobile-reconditioned::before {
    content: "\f197";
}

.flexi-webfont-illustrations-mobile-plus-sim-cards::before {
    content: "\f198";
}

.flexi-webfont-illustrations-mobile-percentage::before {
    content: "\f199";
}

.flexi-webfont-illustrations-mobile-lock::before {
    content: "\f19a";
}

.flexi-webfont-illustrations-mobile-infinity::before {
    content: "\f19b";
}

.flexi-webfont-illustrations-mobile-hand::before {
    content: "\f19c";
}

.flexi-webfont-illustrations-mobile-globe::before {
    content: "\f19d";
}

.flexi-webfont-illustrations-mobile-eye::before {
    content: "\f19e";
}

.flexi-webfont-illustrations-mobile-euro::before {
    content: "\f19f";
}

.flexi-webfont-illustrations-mobile-comment::before {
    content: "\f1a0";
}

.flexi-webfont-illustrations-mobile-cloud::before {
    content: "\f1a1";
}

.flexi-webfont-illustrations-mobile-broken::before {
    content: "\f1a2";
}

.flexi-webfont-illustrations-mobile-ban::before {
    content: "\f1a3";
}

.flexi-webfont-illustrations-mobile-08-slash::before {
    content: "\f1a4";
}

.flexi-webfont-illustrations-mobile-07-slash::before {
    content: "\f1a5";
}

.flexi-webfont-illustrations-mobile-06-slash::before {
    content: "\f1a6";
}

.flexi-webfont-illustrations-microwaves::before {
    content: "\f1a7";
}

.flexi-webfont-illustrations-mental-handicap::before {
    content: "\f1a8";
}

.flexi-webfont-illustrations-mental-disability::before {
    content: "\f1a9";
}

.flexi-webfont-illustrations-massage::before {
    content: "\f1aa";
}

.flexi-webfont-illustrations-marker::before {
    content: "\f1ab";
}

.flexi-webfont-illustrations-map-marker::before {
    content: "\f1ac";
}

.flexi-webfont-illustrations-maker::before {
    content: "\f1ad";
}

.flexi-webfont-illustrations-mailbox-marker::before {
    content: "\f1ae";
}

.flexi-webfont-illustrations-mail::before {
    content: "\f1af";
}

.flexi-webfont-illustrations-lock::before {
    content: "\f1b0";
}

.flexi-webfont-illustrations-link::before {
    content: "\f1b1";
}

.flexi-webfont-illustrations-link-copy::before {
    content: "\f1b2";
}

.flexi-webfont-illustrations-lines-speed::before {
    content: "\f1b3";
}

.flexi-webfont-illustrations-lightbulb-on::before {
    content: "\f1b4";
}

.flexi-webfont-illustrations-laptop::before {
    content: "\f1b5";
}

.flexi-webfont-illustrations-laptop-tablet-mobile::before {
    content: "\f1b6";
}

.flexi-webfont-illustrations-ip::before {
    content: "\f1b7";
}

.flexi-webfont-illustrations-iot::before {
    content: "\f1b8";
}

.flexi-webfont-illustrations-internal-fraud::before {
    content: "\f1b9";
}

.flexi-webfont-illustrations-immersive-content-people::before {
    content: "\f1ba";
}

.flexi-webfont-illustrations-immersive-content-glass::before {
    content: "\f1bb";
}

.flexi-webfont-illustrations-identity::before {
    content: "\f1bc";
}

.flexi-webfont-illustrations-hydro-gel::before {
    content: "\f1bd";
}

.flexi-webfont-illustrations-hourglass::before {
    content: "\f1be";
}

.flexi-webfont-illustrations-hotspot::before {
    content: "\f1bf";
}

.flexi-webfont-illustrations-home::before {
    content: "\f1c0";
}

.flexi-webfont-illustrations-home-tools::before {
    content: "\f1c1";
}

.flexi-webfont-illustrations-heart::before {
    content: "\f1c2";
}

.flexi-webfont-illustrations-headphones::before {
    content: "\f1c3";
}

.flexi-webfont-illustrations-handsfree::before {
    content: "\f1c4";
}

.flexi-webfont-illustrations-hands-helping::before {
    content: "\f1c5";
}

.flexi-webfont-illustrations-hand-tools::before {
    content: "\f1c6";
}

.flexi-webfont-illustrations-hand-mobile::before {
    content: "\f1c7";
}

.flexi-webfont-illustrations-hairdresser::before {
    content: "\f1c8";
}

.flexi-webfont-illustrations-good-practices::before {
    content: "\f1c9";
}

.flexi-webfont-illustrations-gift::before {
    content: "\f1ca";
}

.flexi-webfont-illustrations-gauge::before {
    content: "\f1cb";
}

.flexi-webfont-illustrations-gauge-plus-circle::before {
    content: "\f1cc";
}

.flexi-webfont-illustrations-gauge-exclamation-circle::before {
    content: "\f1cd";
}

.flexi-webfont-illustrations-gauge-cogs-circle::before {
    content: "\f1ce";
}

.flexi-webfont-illustrations-games-console::before {
    content: "\f1cf";
}

.flexi-webfont-illustrations-gamepad::before {
    content: "\f1d0";
}

.flexi-webfont-illustrations-frown::before {
    content: "\f1d1";
}

.flexi-webfont-illustrations-france::before {
    content: "\f1d2";
}

.flexi-webfont-illustrations-france-marker::before {
    content: "\f1d3";
}

.flexi-webfont-illustrations-flower-order::before {
    content: "\f1d4";
}

.flexi-webfont-illustrations-flexymoov-bicycle::before {
    content: "\f1d5";
}

.flexi-webfont-illustrations-flash-sell::before {
    content: "\f1d6";
}

.flexi-webfont-illustrations-first-rural-area::before {
    content: "\f1d7";
}

.flexi-webfont-illustrations-fingerprint::before {
    content: "\f1d8";
}

.flexi-webfont-illustrations-film::before {
    content: "\f1d9";
}

.flexi-webfont-illustrations-file-pdf::before {
    content: "\f1da";
}

.flexi-webfont-illustrations-file-new::before {
    content: "\f1db";
}

.flexi-webfont-illustrations-file-management::before {
    content: "\f1dc";
}

.flexi-webfont-illustrations-file-list::before {
    content: "\f1dd";
}

.flexi-webfont-illustrations-file-euro::before {
    content: "\f1de";
}

.flexi-webfont-illustrations-file-euro-question-circle::before {
    content: "\f1df";
}

.flexi-webfont-illustrations-file-euro-lock-circle::before {
    content: "\f1e0";
}

.flexi-webfont-illustrations-file-euro-info-circle::before {
    content: "\f1e1";
}

.flexi-webfont-illustrations-file-euro-exclamation-circle::before {
    content: "\f1e2";
}

.flexi-webfont-illustrations-file-euro-check-circle::before {
    content: "\f1e3";
}

.flexi-webfont-illustrations-file-euro-check-circle-s::before {
    content: "\f1e4";
}

.flexi-webfont-illustrations-file-attached::before {
    content: "\f1e5";
}

.flexi-webfont-illustrations-facemask-2::before {
    content: "\f1e6";
}

.flexi-webfont-illustrations-facemask-1::before {
    content: "\f1e7";
}

.flexi-webfont-illustrations-exclamation::before {
    content: "\f1e8";
}

.flexi-webfont-illustrations-exclamation-triangle::before {
    content: "\f1e9";
}

.flexi-webfont-illustrations-exclamation-redo::before {
    content: "\f1ea";
}

.flexi-webfont-illustrations-exclamation-circle::before {
    content: "\f1eb";
}

.flexi-webfont-illustrations-euros::before {
    content: "\f1ec";
}

.flexi-webfont-illustrations-europe::before {
    content: "\f1ed";
}

.flexi-webfont-illustrations-ethics::before {
    content: "\f1ee";
}

.flexi-webfont-illustrations-esim::before {
    content: "\f1ef";
}

.flexi-webfont-illustrations-environmental-footprint::before {
    content: "\f1f0";
}

.flexi-webfont-illustrations-envelope::before {
    content: "\f1f1";
}

.flexi-webfont-illustrations-envelope-plus-circle::before {
    content: "\f1f2";
}

.flexi-webfont-illustrations-energy::before {
    content: "\f1f3";
}

.flexi-webfont-illustrations-energy-optimization::before {
    content: "\f1f4";
}

.flexi-webfont-illustrations-electrical-plug::before {
    content: "\f1f5";
}

.flexi-webfont-illustrations-electrical-overload::before {
    content: "\f1f6";
}

.flexi-webfont-illustrations-electric-car::before {
    content: "\f1f7";
}

.flexi-webfont-illustrations-ecoresponsible-digital::before {
    content: "\f1f8";
}

.flexi-webfont-illustrations-ecommerce-promo-label::before {
    content: "\f1f9";
}

.flexi-webfont-illustrations-ecommerce-product-return::before {
    content: "\f1fa";
}

.flexi-webfont-illustrations-eco-conception::before {
    content: "\f1fb";
}

.flexi-webfont-illustrations-earth::before {
    content: "\f1fc";
}

.flexi-webfont-illustrations-ear-slash::before {
    content: "\f1fd";
}

.flexi-webfont-illustrations-duplicata::before {
    content: "\f1fe";
}

.flexi-webfont-illustrations-dont-touch::before {
    content: "\f1ff";
}

.flexi-webfont-illustrations-distance::before {
    content: "\f200";
}

.flexi-webfont-illustrations-diagnostic::before {
    content: "\f201";
}

.flexi-webfont-illustrations-desktop::before {
    content: "\f202";
}

.flexi-webfont-illustrations-cse::before {
    content: "\f203";
}

.flexi-webfont-illustrations-crippling-disease::before {
    content: "\f204";
}

.flexi-webfont-illustrations-credit-cards::before {
    content: "\f205";
}

.flexi-webfont-illustrations-credit-cards-12::before {
    content: "\f206";
}

.flexi-webfont-illustrations-credit-card::before {
    content: "\f207";
}

.flexi-webfont-illustrations-credit-card-lock::before {
    content: "\f208";
}

.flexi-webfont-illustrations-credit-card-accepted::before {
    content: "\f209";
}

.flexi-webfont-illustrations-courier::before {
    content: "\f20a";
}

.flexi-webfont-illustrations-corporate-card::before {
    content: "\f20b";
}

.flexi-webfont-illustrations-contactless-payment::before {
    content: "\f20c";
}

.flexi-webfont-illustrations-contact::before {
    content: "\f20d";
}

.flexi-webfont-illustrations-concierge::before {
    content: "\f20e";
}

.flexi-webfont-illustrations-community::before {
    content: "\f20f";
}

.flexi-webfont-illustrations-comments-question-dots::before {
    content: "\f210";
}

.flexi-webfont-illustrations-comment::before {
    content: "\f211";
}

.flexi-webfont-illustrations-comment-voicemail::before {
    content: "\f212";
}

.flexi-webfont-illustrations-comment-question::before {
    content: "\f213";
}

.flexi-webfont-illustrations-comment-eye::before {
    content: "\f214";
}

.flexi-webfont-illustrations-comment-exclamation-circle::before {
    content: "\f215";
}

.flexi-webfont-illustrations-comment-earth::before {
    content: "\f216";
}

.flexi-webfont-illustrations-collaborative-library::before {
    content: "\f217";
}

.flexi-webfont-illustrations-cogs::before {
    content: "\f218";
}

.flexi-webfont-illustrations-co2-emission::before {
    content: "\f219";
}

.flexi-webfont-illustrations-cloud::before {
    content: "\f21a";
}

.flexi-webfont-illustrations-cloud-save::before {
    content: "\f21b";
}

.flexi-webfont-illustrations-cloud-plus-circle::before {
    content: "\f21c";
}

.flexi-webfont-illustrations-cloud-infinity::before {
    content: "\f21d";
}

.flexi-webfont-illustrations-cloud-globe::before {
    content: "\f21e";
}

.flexi-webfont-illustrations-cloud-exclamation-circle::before {
    content: "\f21f";
}

.flexi-webfont-illustrations-cloud-cogs-circle::before {
    content: "\f220";
}

.flexi-webfont-illustrations-cloud-check::before {
    content: "\f221";
}

.flexi-webfont-illustrations-cloud-check-s::before {
    content: "\f222";
}

.flexi-webfont-illustrations-cloud-70go::before {
    content: "\f223";
}

.flexi-webfont-illustrations-cloud-50go::before {
    content: "\f224";
}

.flexi-webfont-illustrations-cloud-30go::before {
    content: "\f225";
}

.flexi-webfont-illustrations-cloud-20go::before {
    content: "\f226";
}

.flexi-webfont-illustrations-cloud-100go::before {
    content: "\f227";
}

.flexi-webfont-illustrations-closed::before {
    content: "\f228";
}

.flexi-webfont-illustrations-clipboard-checklist::before {
    content: "\f229";
}

.flexi-webfont-illustrations-click-collect-2h::before {
    content: "\f22a";
}

.flexi-webfont-illustrations-clean-surface::before {
    content: "\f22b";
}

.flexi-webfont-illustrations-clapperboard::before {
    content: "\f22c";
}

.flexi-webfont-illustrations-chip::before {
    content: "\f22d";
}

.flexi-webfont-illustrations-children-access::before {
    content: "\f22e";
}

.flexi-webfont-illustrations-check::before {
    content: "\f22f";
}

.flexi-webfont-illustrations-check-circle::before {
    content: "\f230";
}

.flexi-webfont-illustrations-catering::before {
    content: "\f231";
}

.flexi-webfont-illustrations-carpooling::before {
    content: "\f232";
}

.flexi-webfont-illustrations-car-rent::before {
    content: "\f233";
}

.flexi-webfont-illustrations-car-park::before {
    content: "\f234";
}

.flexi-webfont-illustrations-camera::before {
    content: "\f235";
}

.flexi-webfont-illustrations-calendar::before {
    content: "\f236";
}

.flexi-webfont-illustrations-calendar-unavailable::before {
    content: "\f237";
}

.flexi-webfont-illustrations-calendar-question-circle::before {
    content: "\f238";
}

.flexi-webfont-illustrations-calendar-plus-circle::before {
    content: "\f239";
}

.flexi-webfont-illustrations-calendar-info-circle::before {
    content: "\f23a";
}

.flexi-webfont-illustrations-calendar-exclamation-circle::before {
    content: "\f23b";
}

.flexi-webfont-illustrations-calendar-cogs-circle::before {
    content: "\f23c";
}

.flexi-webfont-illustrations-calendar-clock-circle::before {
    content: "\f23d";
}

.flexi-webfont-illustrations-business-trip::before {
    content: "\f23e";
}

.flexi-webfont-illustrations-btvplus::before {
    content: "\f23f";
}

.flexi-webfont-illustrations-btv::before {
    content: "\f240";
}

.flexi-webfont-illustrations-btv-illimite::before {
    content: "\f241";
}

.flexi-webfont-illustrations-box::before {
    content: "\f242";
}

.flexi-webfont-illustrations-box-unavailable::before {
    content: "\f243";
}

.flexi-webfont-illustrations-box-stethoscope::before {
    content: "\f244";
}

.flexi-webfont-illustrations-box-smart-tv::before {
    content: "\f245";
}

.flexi-webfont-illustrations-box-redo::before {
    content: "\f246";
}

.flexi-webfont-illustrations-box-mobile::before {
    content: "\f247";
}

.flexi-webfont-illustrations-box-info-cogs::before {
    content: "\f248";
}

.flexi-webfont-illustrations-box-info-circle::before {
    content: "\f249";
}

.flexi-webfont-illustrations-box-faq::before {
    content: "\f24a";
}

.flexi-webfont-illustrations-box-exclamation-circle::before {
    content: "\f24b";
}

.flexi-webfont-illustrations-box-eole::before {
    content: "\f24c";
}

.flexi-webfont-illustrations-box-check-circle::before {
    content: "\f24d";
}

.flexi-webfont-illustrations-box-check-circle-s::before {
    content: "\f24e";
}

.flexi-webfont-illustrations-box-add::before {
    content: "\f24f";
}

.flexi-webfont-illustrations-box-4g::before {
    content: "\f250";
}

.flexi-webfont-illustrations-bluetooth::before {
    content: "\f251";
}

.flexi-webfont-illustrations-bell-ringing::before {
    content: "\f252";
}

.flexi-webfont-illustrations-beautician::before {
    content: "\f253";
}

.flexi-webfont-illustrations-bduo::before {
    content: "\f254";
}

.flexi-webfont-illustrations-battery::before {
    content: "\f255";
}

.flexi-webfont-illustrations-barcode-search::before {
    content: "\f256";
}

.flexi-webfont-illustrations-bank::before {
    content: "\f257";
}

.flexi-webfont-illustrations-ball::before {
    content: "\f258";
}

.flexi-webfont-illustrations-badges::before {
    content: "\f259";
}

.flexi-webfont-illustrations-babyphone::before {
    content: "\f25a";
}

.flexi-webfont-illustrations-autoplan::before {
    content: "\f25b";
}

.flexi-webfont-illustrations-audio-visual::before {
    content: "\f25c";
}

.flexi-webfont-illustrations-at::before {
    content: "\f25d";
}

.flexi-webfont-illustrations-at-unavailable::before {
    content: "\f25e";
}

.flexi-webfont-illustrations-at-plus-circle::before {
    content: "\f25f";
}

.flexi-webfont-illustrations-at-info::before {
    content: "\f260";
}

.flexi-webfont-illustrations-at-infinity-circle::before {
    content: "\f261";
}

.flexi-webfont-illustrations-at-globe::before {
    content: "\f262";
}

.flexi-webfont-illustrations-at-exclamation-circle::before {
    content: "\f263";
}

.flexi-webfont-illustrations-at-cogs-circle::before {
    content: "\f264";
}

.flexi-webfont-illustrations-at-check-s::before {
    content: "\f265";
}

.flexi-webfont-illustrations-artist-chair::before {
    content: "\f266";
}

.flexi-webfont-illustrations-artificial-intelligence::before {
    content: "\f267";
}

.flexi-webfont-illustrations-archiving::before {
    content: "\f268";
}

.flexi-webfont-illustrations-air-travel::before {
    content: "\f269";
}

.flexi-webfont-illustrations-africa::before {
    content: "\f26a";
}

.flexi-webfont-illustrations-advisor::before {
    content: "\f26b";
}

.flexi-webfont-illustrations-addcalendar-rdv::before {
    content: "\f26c";
}

.flexi-webfont-illustrations-accomodation::before {
    content: "\f26d";
}

.flexi-webfont-illustrations-accessibility::before {
    content: "\f26e";
}

.flexi-webfont-illustrations-5g::before {
    content: "\f26f";
}

.flexi-webfont-illustrations-4g::before {
    content: "\f270";
}

.flexi-webfont-illustrations-4g-plus::before {
    content: "\f271";
}

.flexi-webfont-illustrations-4g-5g::before {
    content: "\f272";
}

.flexi-webfont-illustrations-4g-5g-plus::before {
    content: "\f273";
}

.flexi-webfont-illustrations-4g-4g-plus::before {
    content: "\f274";
}

